@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/*-----------------
 top banner styles 
 ------------------*/
.top-banner {
    margin-top: 42px;
}

.flexible-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 0 80px;
    background-color: #161616;
    border-radius: 30px;

}

.heading {
    color: #FFFFFF;
    padding-bottom: 60px;
}

.half-width {
    width: 50%;
}

.link-button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 5px;
}

.half-width img {
    display: block;
    margin-left: 20px;
    margin-top: 30px;
    width: 100%;
}

.banner-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
}

.heading p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20PX;
}

/*-------------------------
 match info section styles
 --------------------------*/
.match-info {
    margin-top: 150px;

}

.container {
    display: grid;
    grid-template-columns: 312px auto;
    gap: 24px;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 252px;
    width: 252px;
}

.btn {
    width: 252px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    color: #161616;
    border-radius: 10px;
}

#blog {
    background-color: #DD0000;
}

.link {
    margin-bottom: 30px;
    border-radius: 10px;

}

/*----------------
   blogs styles
 ---------------*/
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.blog {
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog>img {
    width: 100%;
}

.blog-info {
    padding: 20px;
}

.blog-info h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
    margin: 15px 0;
}

.blog-info>button {
    box-sizing: border-box;
    width: 100px;
    height: 32px;
    background-color: #FFFFFF;
    border: 1px solid #161616;
    border-radius: 5px;
}

.blog-info>p {
    display: flex;
    align-items: center;
    color: #161616B2;
}

.blog-bottom img {
    margin-right: 10px;
}

.view-all-btn {
    display: none;
}

.little-margin {
    margin-right: 30px;
}

/* -----------------------
       footer styles  
-------------------------*/
footer {
    background-color: #161616;
    color: #FFFFFF;
    text-align: center;
    padding: 130px 0;
    margin-top: 150px;
}

footer h1 {
    font-size: 40px;
    margin: 0;
}

hr {
    width: 80%;
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-items {
    display: flex;
    justify-content: center;
}

.item {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9B9;
}

/* -----------------------
resposivness for tablet
----------------------- */
@media screen and (min-width:768px) and (max-width:1023px) {

    /* top banner styles */
    .flexible-container {
        width: 80%;
        padding: 0 5%;
        border-radius: 20px;

    }

    .banner-title {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 10px;
    }

    .heading p {
        font-size: 14px;
        line-height: 15px;
    }

    .link-button {
        font-size: 16px;
        padding: 5px 10px;
    }

    .heading p {
        margin-bottom: 10px;
    }

    /* match info */
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .navbar {
        width: 100%;
        height: 64px;
        background-color: #FFFFFF;
    }

    .nav-items {
        flex-direction: row;
        justify-content: center;
        height: 64px;
    }

    .link {
        margin-right: 20px;
    }

    .btn {
        width: 210px;
        border: 1px solid #E8E8E8;
        background-color: #FFFFFF;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .hide {
        display: none;
    }

    .view-all-btn {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }

    .view-all-btn button {
        padding: 12px 30px;
        border-radius: 5px;
        background-color: #DD0000;
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        border: none;
    }

    /* footer styles */
    footer {
        padding: 70px 0;
    }

    footer h1 {
        font-size: 40px;
    }

    .footer-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 70%;
        margin: 0 auto;
    }

    .item {
        margin-left: 0;
    }

    .goal-app {
        grid-column-start: 2;
        grid-column-end: 3;
    }

}

/* -----------------------
resposivness for mobile
----------------------- */
@media screen and (max-width:767px) {
    .top-banner {
        margin-top: 10px;
    }

    .flexible-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        border-radius: 10px;
        padding: 0 2%;
    }

    .half-width {
        width: 80%;
    }

    .heading {
        padding-bottom: 25px;
    }

    .half-width img {
        margin-top: 10px;
    }

    .banner-title {
        font-size: 25px;
        line-height: 33px;
        margin-top: 28px;
        margin-bottom: 10px;
    }

    .heading p {
        font-size: 14px;
        line-height: 24px;
        color: rgba(255, 255, 255, 0.8);
    }

    /* match info styles */
    .match-info {
        margin-top: 25px;
    }

    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .navbar {
        margin: 0 auto;
        width: 260px;
        height: 260px;
        background-color: #FFFFFF;
    }

    .nav-items {
        flex-direction: column;
        justify-content: center;
        height: 64px;
    }

    .btn {
        border: 1px solid #E8E8E8;
        background-color: #FFFFFF;
    }

    .link {
        margin-bottom: 15px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .hide {
        display: none;
    }

    /* footer styles  */
    footer {
        padding: 25px 0;
        margin-top: 50px;
    }

    footer h1 {
        font-size: 25px;
        margin: 0;
    }

    hr {
        width: 80%;
        margin: 25px auto;
    }

    .footer-items {
        flex-direction: column;
    }

    .item {
        margin-left: 0;
        margin-bottom: 15px;
    }

    .item a {
        font-size: 14px;

    }

}