@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* top banner styles */
.top-banner {
    margin-top: 42px;
}

.flexible-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 0 80px;
    background-color: #161616;
    border-radius: 30px;

}

.heading {
    color: #FFFFFF;
    padding-bottom: 60px;
}

.half-width {
    width: 50%;
}

.link-button {
    text-decoration: none;
    color: #FFFFFF;
    background-color: #DD0000;
    padding: 10px 20px;
    border-radius: 5px;
}

.half-width img {
    display: block;
    margin-left: 20px;
    margin-top: 30px;
    width: 100%;
}

.banner-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
}

.heading p {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 20PX;
}

/* match info section styles */
.match-info {
    margin-top: 150px;

}

.container {
    display: grid;
    grid-template-columns: 312px auto;
    gap: 24px;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    width: 312px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 252px;
    width: 252px;
}

.btn {
    width: 252px;
    height: 64px;
    font-size: 20px;
    font-weight: 600;
    color: #161616;
    border-radius: 10px;
}

#upcoming-matches {
    background-color: #DD0000;
}

.link {
    margin-bottom: 30px;
    border-radius: 10px;

}

/* upcoming matches  */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.match {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 30px;
}

.match-title {
    font-weight: 600;
    font-size: 20px;
    color: #161616;
    margin-top: 20px;
    margin-bottom: 10px;
}

.match-time {
    color: #4D4D4D;
    font-size: 16px;
}

.flag {
    display: flex;
    justify-content: center;
    width: 100%;
}

.flag img {
    width: 40%;
}

.flag p {
    color: #161616;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

/* footer styles  */
footer {
    background-color: #161616;
    color: #FFFFFF;
    text-align: center;
    padding: 130px 0;
    margin-top: 150px;
}

footer h1 {
    font-size: 40px;
    margin: 0;
}

hr {
    width: 80%;
    margin: 50px auto;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-items {
    display: flex;
    justify-content: center;
}

.item {
    margin-left: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.item a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: #B9B9B9;
}